%vas
	привет как дила че делаешь?
%div
	а я тут печеньками балуюсь
	проверка ереси и другой бессмысленной хрени
	%br
		вася дура
		писька
	#vas.fghh
		пипец
	#url
		= link_to 'sdfsdf', :action => :vasya
		= link_to 'sdfsdf', :action => :vasya, :controller => :index
	%table
		%tbody
			%tr
				%td#5566.sdfgd
					user
					= @user.to_json(:include => :tracks)
					%br
					%br
					tracks
					= Track.all.to_json
					%br
					tracks find
					= Track.where(:coords.within => { "$center" => [[3,104], 5]}).all.to_json

%br
	вася
	привет как дила че делаете?
	%br
	#map_canvas
	%canvas#myCanvas.canvas{:width=>500, :height=>300}
		= Track.all.to_json
- append_title(' ты кто такой ')
- prepend_title(' вася ')
- prepend_title(@user.name)