<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ride.title %>
</p>

<p>
  <b>User:</b>
  <%= @ride.user %>
</p>

<p>
  <b>Photos:</b>
  <%= @ride.photos %>
</p>

<p>
  <b>Tracks:</b>
  <%= @ride.tracks %>
</p>

<p>
  <b>Description:</b>
  <%= @ride.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @ride.rating %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
